{% extends "main/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
	{% block content %}
		<style type="text/css">
			div.share label {
				cursor: pointer;
			}
		  #copy_link:hover {
		  	cursor: pointer;
		  }
			div.likes {
				margin-top: -10px;
			}
			form.like button {
				background-color: transparent;
				border: none;
				cursor: pointer;
				outline: none;
			}
			img.comment-profile {
				height: 45px;
				width: 45px !important;
				margin-right: 8px;
			}
			div.add-comment div {
				display: grid;
				gap: 2px;
				grid-template-columns: 1fr .3fr;
			}
			div.add-comment div textarea {
				padding: 12px;
				border-radius: 20px;
			}
			div.add-comment button {
				width: 100%;
				border-radius: 20px;
			}
			div.home {
				padding-top: 0px;
				max-height: 100vh;
				overflow-y: scroll;
				scrollbar-width: 0px;
   				scrollbar-color: rgb(120, 120, 120) rgb(238, 238, 238);
   				margin-bottom: 10px;
			}
			@media only screen and (max-width: 800px) {
				div.home::-webkit-scrollbar {
					display: none;

				}
			}
			div.posts-container {
				padding-top: 0px;
				margin-top: 10px;
				height: auto !important;
				max-height: auto !important;
				overflow: none;
			}
			div.posts {
				margin-top: 0px;
			}
			div.content {
				grid-template-columns: .4fr .9fr .3fr;
			}
			header {
				background-color: ;
			}
			/*div.comment div.like {
				margin-right: 100px;
			}*/
			div.post-image {
				width: 100%;
				display: grid;
				margin-bottom: 10px;
				box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .2);
				grid-template-columns: repeat(1, 1fr);
				align-items: center;
				text-align: center;
				justify-content: center;
				justify-items: center;
			}
			div.post-image img {
				max-width: 100%;
			}
			div.user p {
				padding-top: 10px;
			}
			
			h2.feed {
				font-weight: 700;
				font-size: 23px;
				font-family: 'kanit';
				margin-left: 20px;
			}
			div.post-button {
/*				width: 170px;*/
/*				height: 70px;*/
				position: fixed;
				display: none;
				text-align: center;
				align-items: center;
				justify-items: center;
				bottom: 35px;
				right: 20px;
				background-color: black;
				border-radius: 40%;
				padding: 17px;
				color: white;
				cursor: pointer;
				background-color: rgba(24, 16, 180, 1);
				box-shadow: 0px 0px 8px 1px rgba(24, 16, 180, .5);
			}
			a.comment {
				text-decoration: none;
				color: black;
				cursor: pointer;
			}
			a.comment label {
				cursor: pointer;
			}
			@media only screen and (max-width: 800px) {
				div.right-side {
					display: none;
				}
				
				header {
					padding-left: 15px;
				}
				div.content {
					grid-template-columns: repeat(1, 1fr);
				}
				div.menu.active {
					display: block;
				}
				

				div.menu {
					display: none;
					position: static;
					width: 100px;
				}
				div.home.active {
					display: none;
				}
				div.post-button.active {
					display: none;
				}
				div.post-button {
					display: flex;
				}
				div.posts-container {
					padding-left: 3px;
					padding-right: 3px;
					display: grid;
				}
				
				p.content {
					padding-left: 10px;
				}
				div.posts {
					border-radius: 4px;
				}
				div.content {
					padding: 0px;
/*					justify-items: center;*/
				}
				div.content * {
					width: auto;
				}
				div.home {
					padding-left: 7px;
					padding-right: 7px;
					margin: 0px;
					scrollbar-width: 0px;
   					scrollbar-color: transparent rgb(238, 238, 238);
				}
				div.add-new {
					display: none;
					margin-left: 3px;
					margin-right: 3px;
				}
				@media only screen and (max-width: 580px) {
					div.posts-container {
						padding-left: 0px;
						padding-right: 0px;
						display: grid;
					}
					div.home {
						padding-left: 0px;
						padding-right: 0px;
						margin: 0px;
					}
					div.posts {
						border-radius: 0px;
/*						margin-top: 5px;*/
					}
				}
			}
		</style>
		<div class="home" id="allPosts">
			<div class="posts-container">
				<div class="posts">
					<div class="author">
						{% if post.author.Profile_picture %}
							<a href="{% url 'user-profile' post.author.user.username %}"><img src="{{ post.author.Profile_picture.url }}"></a><h2 class="author"><a class="post-author" href="{% url 'user-profile' post.author.user.username %}">{{ post.author.full_name }}{% if post.author.verified %}<img class="verified" src="{% static 'main/verified.png' %}">{% endif %}</a><br><span class="date">{{ post.date_posted }}</h2>
						{% else %}
							<a href="{% url 'user-profile' post.author.user.username %}"><img src="{% static 'main/default.jpg' %}"></a><h2 class="author"><a class="post-author" href="{% url 'user-profile' post.author.user.username %}">{{ post.author.full_name }}{% if post.author.verified %}<img class="verified" src="{% static 'main/verified.png' %}">{% endif %}</a><br><span class="date">{{ post.date_posted }}</h2>
						{% endif %}
					</div>
					<!-- <hr class="post"> -->
					<p class="content">{{ post.content|linebreaksbr }}</p>
					{% if post.Post_image %}
						<div class="post-image"><img class="post-image" src="{{ post.Post_image.url }}"></div>
					{% endif %}<hr>
					<div class="likes">
						{% if post.total_likes == 1 or post.total_likes == 0 %}
							<label>{{ post.total_likes }} Like</label>
						{% else %}
							<label>{{ post.total_likes }} Likes</label>
						{% endif %}
					</div><hr>
					<div class="comment">
						<div class="like">
							<form class="like" action="{% url 'like-post' post.id %}" method="POST">
								{% csrf_token %}
								{% if user.is_authenticated %}
									{% if user in post.likes.all %}
										<button type="submit" style="background-color: rgba(23, 80, 164, .43) !important; border-radius: 10px; padding: 5px 7px 3px 7px;"><img src="{% static 'main/like.png' %}">&nbsp;<label>Unlike</label></button>
									{% else %}
										<button type="submit"><img src="{% static 'main/like.png' %}">&nbsp;<label>Like</label></button>
									{% endif %}
								{% endif %}
							</form>
						</div>
						<div><a class="comment"><img src="{% static 'main/comment.png' %}">&nbsp;<label>Comment</label></a></div>
						<div class="share" id="copy_link" onclick='copy("http://127.0.0.1:8000/posts/{{ post.pk }}/{{ post.author.user.username }}", "{{ post.pk }}")'>
							<img src="{% static 'main/share.png' %}">&nbsp;<label><input type="text" value="" id="urlCopy" style="display: none;">Copy</label><span class="urlAlert" id="urlAlert-{{ post.pk }}">Link copied!</span>
						</div>
					</div>
					<div class="comment-dark">
						<div class="like">
							<form class="like" action="{% url 'like-post' post.id %}" method="POST">
								{% csrf_token %}
								{% if user.is_authenticated %}
									{% if user in post.likes.all %}
										<button type="submit" style="background-color: rgba(23, 80, 164, .43) !important; border-radius: 10px; padding: 5px 7px 3px 7px;"><img src="{% static 'main/like-light.png' %}">&nbsp;<label>Unlike</label></button>
									{% else %}
										<button type="submit"><img src="{% static 'main/like-light.png' %}">&nbsp;<label>Like</label></button>
									{% endif %}
								{% endif %}
							</form>
						</div>
						<div><a class="comment"><img src="{% static 'main/comment-light.png' %}">&nbsp;<label>Comment</label></a></div>
						<div class="share" id="copy_link" onclick='copy("http://127.0.0.1:8000/posts/{{ post.pk }}/{{ post.author.user.username }}", "{{ post.pk }}")'>
							<img src="{% static 'main/share-light.png' %}">&nbsp;<label><input type="text" value="" id="urlCopy" style="display: none;">Copy</label><span class="urlAlert1" id="urlAlert1-{{ post.pk }}">Link copied!</span>
						</div>
					</div>
					<hr>
					<div class="add-comment">
						<form method="POST">
							{% csrf_token %}
							<input type="hidden" name="post_id" value="{{ post.pk }}">
							<!-- {{ comment_form|crispy }} -->
							<div>
								{{ comment_form.content|attr:"placeholder:Post a comment"|attr:"rows:1" }}
								<button class="submit" type="submit">Comment</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="comments-container">
				<h2>Comments</h2>
				{% for comment in post.comments.all %}
					<div class="comments-wrapper">
						<div class="comment-profile">
							{% if comment.user.profile.Profile_picture %}
								<img class="rounded-circle comment-profile" src="{{ comment.user.profile.Profile_picture.url }}">
							{% else %}
								<img class="rounded-circle comment-profile" src="{% static 'main/default.jpg' %}">
							{% endif %}
						</div>
						<section class="comment" id="comment-{{ comment.id }}">
							<h2>{{ comment.user.profile.full_name }}</h2>
							<p>{{ comment.content|linebreaksbr }}</p>
						</section>
					</div>
				{% empty %}
					<p>no comment</p>
				{% endfor %}
				
			</div>
			
		</div>
		<script type="text/javascript">
			var topProfile = document.getElementById('top-profile');
			var allPosts = document.getElementById('allPosts');
			var menu = document.getElementById('menu');
			var add = document.getElementById('post-button');
			topProfile.addEventListener('click', () => {
				menu.classList.toggle('active')
				allPosts.classList.toggle('active')
				add.classList.toggle('active')
			});
		</script>
	{% endblock content%}

